[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
GenericName=Presentation
GenericName[am]=ትዕይንት
GenericName[az]=Təqdimat
GenericName[bg]=Презентация
GenericName[bn]=প্রেজেন্টেশন
GenericName[bs]=Prezentacija
GenericName[ca]=Presentació
GenericName[cs]=Prezentace
GenericName[da]=Præsentation
GenericName[de]=Präsentation
GenericName[dz]=གསལ་སྟོན།
GenericName[el]=Παρουσίαση
GenericName[en_CA]=Presentation
GenericName[en_GB]=Presentation
GenericName[en_ZA]=Presentation
GenericName[es]=Presentación
GenericName[et]=Esitlus
GenericName[eu]=Aurkezpena
GenericName[fi]=Esitys
GenericName[fil]=Pagtatanghal
GenericName[fr]=Présentation
GenericName[ga]=Toirbeathas
GenericName[gl]=Presentación
GenericName[gu]=રજૂઆત
GenericName[he]=מצגות
GenericName[hr]=Prezentacija
GenericName[hu]=Bemutatókészítő
GenericName[is]=Impress framsetning
GenericName[it]=Presentazione
GenericName[ja]=プレゼンテーション
GenericName[ka]=პრეზენტაცია
GenericName[ko]=프리젠테이션
GenericName[ku]=Pêşkêşî
GenericName[mk]=Презентација
GenericName[ms]=Persembahan
GenericName[nb]=Presentasjon
GenericName[ne]=प्रस्तुति
GenericName[nl]=Presentatie
GenericName[nr]=Phrizentheyitjhini
GenericName[nso]=Tlhagišo
GenericName[oc]=Presentacion
GenericName[pa]=ਪੇਸ਼ਕਾਰੀ
GenericName[pl]=Prezentacja
GenericName[pt]=Apresentação
GenericName[pt_BR]=Apresentação
GenericName[ru]=Презентация
GenericName[rw]=Iyerekana
GenericName[sk]=Prezentácia
GenericName[sq]=Prezantime
GenericName[sr]=Презентација
GenericName[sr@Latn]=Prezentacija
GenericName[st]=Nehelano
GenericName[sv]=Presentation
GenericName[th]=งานนำเสนอ
GenericName[tl]=Pagtatanghal
GenericName[tr]=Sunum
GenericName[ts]=Nkombiso
GenericName[uk]=Презентації
GenericName[vi]=Trình diễn
GenericName[wa]=Prezintåcion
GenericName[xh]=Umboniso wenkcazelo
GenericName[zh_CN]=演示文稿
GenericName[zh_TW]=簡報
GenericName[zu]=Iprezenteyshin
Comment=The SoftMaker Presentations software lets you design any kind of presentation - even including special effects, animations, and transitions.
Comment[de]=SoftMaker Presentations lässt Sie beliebige Präsentationen gestalten - mit Effekten, Animationen und Transitionen. 
Terminal=false
Categories=Office;Presentation
MimeType=application/x-prd;application/x-prv;application/x-prs;application/ppt;application/mspowerpoint;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint.presentation.macroenabled.12;application/vnd.openxmlformats-officedocument.presentationml.template;application/vnd.ms-powerpoint.template.macroenabled.12;application/vnd.ms-powerpoint.slideshow.macroEnabled.12;application/vnd.openxmlformats-officedocument.presentationml.slideshow;
Name=FreeOffice Presentations
Icon=freeoffice-presentations
TryExec=freeoffice-presentations
Exec=freeoffice-presentations %F

