[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
GenericName=Word Processor
GenericName[am]=ጽሁፍ አቀናጅ
GenericName[ar]=معالج نصوص
GenericName[az]=Kəlmə İşlədici
GenericName[bg]=Текстообработка
GenericName[bn]=ওয়ার্ড প্রসেসর
GenericName[bs]=Word Processor
GenericName[ca]=Processador de textos
GenericName[cs]=Textový procesor
GenericName[da]=Tekstbehandler
GenericName[de]=Textverarbeitung
GenericName[dz]=ཡིག་སྦྱོར་པ།
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_CA]=Word Processor
GenericName[en_GB]=Word Processor
GenericName[en_ZA]=Word Processor
GenericName[es]=Procesador de textos
GenericName[et]=Kirjutaja
GenericName[eu]=Testu-prozesadorea
GenericName[fi]=Tekstinkäsittely
GenericName[fil]=Tagaproseso ng Salita
GenericName[fr]=Traitement de texte
GenericName[ga]=Próiseálaithe Focal
GenericName[gl]=Procesador de textos
GenericName[gu]=વર્ડ પ્રોસેસર
GenericName[he]=מעבד תמלילים
GenericName[hr]=Obrada teksta
GenericName[hu]=Szövegszerkesztő
GenericName[is]=Ritvinnsla
GenericName[it]=Word processor
GenericName[ja]=ワープロ
GenericName[ka]=ტექსტის რედაქტორი
GenericName[ko]=워드 프로세서
GenericName[ku]=Bernameya nivîsandinê
GenericName[mk]=Процесор за текст
GenericName[ms]=Pemproses Perkataan
GenericName[nb]=Tekstbehandling
GenericName[ne]=शब्द प्रशोधक
GenericName[nl]=Tekstverwerker
GenericName[nr]=Isenzi Mitlolo
GenericName[nso]=Sehlami sa Lentšu
GenericName[oc]=Tractament de tèxt
GenericName[pa]=ਸ਼ਬਦਕਾਰ
GenericName[pl]=Edytor tekstu
GenericName[pt]=Processador de Texto
GenericName[pt_BR]=Editor de texto
GenericName[ru]=Редактор текстов
GenericName[sk]=Textový editor
GenericName[sq]=Procesues teksti
GenericName[sr]=Обрада текста
GenericName[sr@Latn]=Obrada teksta
GenericName[st]=Word Processor
GenericName[sv]=Ordbehandlare
GenericName[th]=พิมพ์งาน
GenericName[tl]=Tagaproseso ng Salita
GenericName[tr]=Kelime İşlemci
GenericName[ts]=Xitirhisi xa marito
GenericName[uk]=Текстовий процесор
GenericName[vi]=Bộ xử lý từ
GenericName[wa]=Aspougneu d' tecse
GenericName[xh]=Inkqubo Yokuqhuba Amagama
GenericName[zh_CN]=文字处理
GenericName[zh_TW]=文書處理器
GenericName[zu]=Umshini Ohlela Amagama
Comment=The TextMaker word processor lets you work on any type of document.
Comment[de]=Die Textverarbeitung TextMaker ermöglicht es Ihnen, beliebige Arten von Dokumenten zu erstellen und zu bearbeiten. 
Terminal=false
Categories=Office;WordProcessor
MimeType=application/x-tmd;application/x-tmv;application/msword;application/vnd.ms-word;application/x-doc;text/rtf;application/rtf;application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-template;application/vnd.stardivision.writer;application/vnd.sun.xml.writer;application/vnd.sun.xml.writer.template;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.ms-word.document.macroenabled.12;application/vnd.openxmlformats-officedocument.wordprocessingml.template;application/vnd.ms-word.template.macroenabled.12;application/x-pocket-word;
Name=FreeOffice TextMaker
Icon=freeoffice-textmaker
TryExec=freeoffice-textmaker
Exec=freeoffice-textmaker %F

