[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
GenericName=Spreadsheet
GenericName[am]=ሠንጠረዥ አስሊ
GenericName[ar]=جدول
GenericName[az]=Hesab Cədvəli
GenericName[bg]=Електронна таблица
GenericName[bn]=স্প্রেডশিট
GenericName[bs]=Spreadsheet
GenericName[ca]=Full de càlcul
GenericName[cs]=Tabulkový kalkulátor
GenericName[da]=Regneark
GenericName[de]=Tabellenkalkulation
GenericName[dz]=ཤོག་ཁྲམ།
GenericName[el]=Λογιστικό φύλλο
GenericName[en_CA]=Spreadsheet
GenericName[en_GB]=Spreadsheet
GenericName[en_ZA]=Spreadsheet
GenericName[es]=Hoja de cálculo
GenericName[et]=Arvutustabel
GenericName[eu]=Kalkulu-orria
GenericName[fi]=Taulukkolaskenta
GenericName[fil]=Spreadsheet
GenericName[fr]=Tableur
GenericName[ga]=Scarbhileog
GenericName[gl]=Folla de cálculo
GenericName[gu]=સ્પ્રેડશીટ
GenericName[he]=גיליון עבודה
GenericName[hr]=Proračunska tablica
GenericName[hu]=Táblázatkezelő
GenericName[is]=Töflureiknir
GenericName[it]=Foglio di calcolo
GenericName[ja]=スプレッドシート
GenericName[ka]=ელცხრილი
GenericName[ko]=스프레드시트
GenericName[ku]=Tabloya Hesêb
GenericName[mk]=Табели
GenericName[ms]=Hamparan
GenericName[nb]=Regneark
GenericName[ne]=स्प्रेडसिट
GenericName[nl]=Rekenblad
GenericName[nr]=Spredtjhiti
GenericName[nso]=Letlakala la go ala tsebišo
GenericName[oc]=Fuelha de calcul
GenericName[pa]=ਸਾਰਣੀ
GenericName[pl]=Arkusz kalkulacyjny
GenericName[pt]=Folha de Cálculo
GenericName[pt_BR]=Planilha Eletrônica
GenericName[ru]=Электронная таблица
GenericName[rw]=Urupapurorusesuye
GenericName[sk]=Tabuľka
GenericName[sq]=Fleta elektronike
GenericName[sr]=Табеле
GenericName[sr@Latn]=Tabele
GenericName[st]=Leqephe la ho ala boitsebiso
GenericName[sv]=Kalkylark
GenericName[th]=ตารางคำนวน
GenericName[tl]=Spreadsheet
GenericName[tr]=Hesap Çizelgesi
GenericName[ts]=Xipredxiti
GenericName[uk]=Електронні таблиці
GenericName[vi]=Bảng tính
GenericName[wa]=Tåvleu
GenericName[xh]=Icwecwe leeseli
GenericName[zh_CN]=电子表格
GenericName[zh_TW]=試算表
GenericName[zu]=Ispredshit
Comment=PlanMaker lets you create all kinds of spreadsheets -- from simple ones to the most complex ones. Includes a high-caliber charting module.
Comment[de]=Mit PlanMaker können Sie alle Arten von Arbeitsblättern erstellen -- von ganz einfachen bis zu den komplexesten. Inklusive eines leistungsstarken Diagrammmoduls. 
Terminal=false
Categories=Office;Spreadsheet
MimeType=application/x-pmd;application/x-pmv;application/excel;application/x-excel;application/x-ms-excel;application/x-msexcel;application/x-sylk;application/x-xls;application/xls;application/vnd.ms-excel;application/vnd.stardivision.calc;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-excel.sheet.macroenabled.12;application/vnd.openxmlformats-officedocument.spreadsheetml.template;application/vnd.ms-excel.template.macroenabled.12;
Name=FreeOffice PlanMaker
Icon=freeoffice-planmaker
TryExec=freeoffice-planmaker
Exec=freeoffice-planmaker %F

