[Desktop Entry]
Type=Application
Name=osu! (lazer)
Icon=osu-lazer
Exec=/usr/bin/osu-lazer %U
Comment=A free-to-win rhythm game. Rhythm is just a *click* away!
Categories=Game;
MimeType=application/x-osu-beatmap;application/x-osu-beatmap-archive;application/x-osu-skin-archive;application/x-osu-storyboard;application/x-osu-replay;x-scheme-handler/osu;
SingleMainWindow=true
StartupWMClass=osu!
StartupNotify=true
Terminal=false
