[Unit]
Description=Make proxy Client Service
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/erl -pa /opt/make-proxy/client/ebin -config /etc/make-proxy/client +K true -s make_proxy_client start -noshell

[Install]
WantedBy=multi-user.target
