[Unit]
Description=Make proxy Server Service
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/erl -pa /opt/make-proxy/server/ebin -config /etc/make-proxy/server +K true -s make_proxy_server start -noshell

[Install]
WantedBy=multi-user.target
