[Desktop Entry]
Name=BambuStudio
Exec=bambu-studio %U
Icon=BambuStudio
Type=Application
Categories=Utility;
MimeType=x-scheme-handler/bambustudio;model/stl;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;
