[Desktop Entry]
Version=1.0
Type=Application
Name=localsend
Comment=Share files over local network
Exec=/opt/bin/localsend
Terminal=false
Icon=localsend
Categories=Network;
StartupNotify=false
