[Unit]
Description=A full-featured web proxy cache

[Service]
ExecStart=/usr/sbin/squid -N
ExecReload=/usr/sbin/squid -k reconfigure
ExecStop=/usr/sbin/squid -k shutdown

[Install]
WantedBy=multi-user.target

