#!/usr/bin/env xdg-open
[Desktop Entry]
Name=skwx
Name[zh_CN]=时空浩劫
GenericName=skwx
GenericName[zh_CN]=时空浩劫
Exec=/usr/games/bin/skwx_unx
Terminal=false
Type=Application
Icon=system-usres-symbolic
Categories=Game
StartupNotify=true
