[Desktop Entry]
Name=PiliPlus
Comment=BiliBili third-party client developed using Flutter
Exec=piliplus-bin
Terminal=false
Type=Application
Categories=Network;AudioVideo;Video;
