
[Unit]
Description=Small forwarding DNS server with DHCP and tftp support.
After=network.target

[Service]
StandardOutput=syslog
StandardError=syslog

ExecStart=/usr/sbin/dnsmasq -d -k 

