[Unit]
Description=DHCP Socket activation for dnsmasq - Small forwarding DNS server with DHCP and tftp support.

[Socket]

BindIPv6Only=ipv6-only


ListenDatagram=0.0.0.0:67
ListenDatagram=[::]:67

Service=dnsmasq.service

[Install]
WantedBy=sockets.target
