[Unit]
Description=DNS Socket activation for dnsmasq - Small forwarding DNS server with DHCP and tftp support.

[Socket]

BindIPv6Only=ipv6-only

#DNS
ListenDatagram=0.0.0.0:53
ListenStream=0.0.0.0:53
ListenDatagram=[::]:53
ListenStream=[::]:53

[Install]
WantedBy=sockets.target
