[Unit]
Description=TFTP Socket activation for dnsmasq - Small forwarding DNS server with DHCP and tftp support.

[Socket]

BindIPv6Only=ipv6-only


#TFTP, uncomment this to have tftp support
ListenDatagram=[::]:69
ListenDatagram=0.0.0.0:69

Service=dnsmasq.service

[Install]
WantedBy=sockets.target
