[Desktop Entry]
Categories=AudioVideo;Player;GTK;
Comment=Play your music collection
Comment[ar]=تشغيل مجموعة الصوتيات الخاصة بك
Comment[cs]=Přehrávejte svoji sbírku zvukových záznamů
Comment[da]=Afspil din musiksamling
Comment[en]=Play your music collection
Comment[es]=Reproduce tu colección musical
Comment[fr]=Lire votre collection de musique
Comment[pt_BR]=Reproduza tua coleção musical
Comment[ru]=Прослушивание музыки
Comment[sk]=Prehrávajte svoju zbierku zvukových záznamov
Comment[sl]=Predvajaj svojo glasbeno zbirko
Comment[zh_CN]=为您播放本地及网络音频流
Comment[zh_TW]=爲您播放本機和網路的音樂
Exec=deepin-music-player %F
GenericName=Music Player
Icon=deepin-music-player
MimeType=audio/musepack;application/musepack;application/x-ape;audio/ape;audio/x-ape;audio/x-musepack;application/x-musepack;audio/x-mp3;application/x-id3;audio/mpeg;audio/x-mpeg;audio/x-mpeg-3;audio/mpeg3;audio/mp3;audio/x-m4a;audio/mpc;audio/x-mpc;audio/mp;audio/x-mp;application/ogg;application/x-ogg;audio/vorbis;audio/x-vorbis;audio/ogg;audio/x-ogg;audio/x-flac;application/x-flac;audio/flac;
Name=Deepin Music
Name[ar]=دي مشغل صوتيات
Name[cs]=Deepin Music
Name[da]=Deepin Music
Name[en]=Deepin Music
Name[es]=Deepin Music
Name[fr]=DMusique
Name[pt_BR]=Deepin Music
Name[ru]=Deepin Music
Name[sk]=Deepin Music
Name[sl]=DGlasba
Name[zh_CN]=深度音乐
Name[zh_TW]=深度音樂
Type=Application

[Next Shortcut Group]
Exec=deepin-music-player -n
Name=Next track
Name[ar]=المسار التالي
Name[cs]=Další skladba
Name[da]=Næste spor
Name[en]=Next track
Name[es]=Siguiente pista
Name[fr]=Piste Suivante
Name[pt_BR]=Próxima faixa
Name[ru]=Следующий трек
Name[sk]=Ďalšia stopa
Name[sl]=Naslednja skladba
Name[zh_CN]=下一首
Name[zh_TW]=下一首

[PlayPause Shortcut Group]
Exec=deepin-music-player -t
Name=Play/Pause track
Name[ar]=تشغيل / إيقاف المسار
Name[cs]=Přehrát/Pozastavit skladbu
Name[da]=Afspil/Pause-spor
Name[en]=Play/Pause track
Name[es]=Reproducir/Pausar pista
Name[fr]=Lire/Pause le fichier
Name[pt_BR]=Reproduzir/Pausar faixa
Name[ru]=Играть/Пауза
Name[sk]=Prehrávať/Pozastaviť skladbu
Name[sl]=Predvajaj/Zaustavi skladbo
Name[zh_CN]=暂停/继续
Name[zh_TW]=暫停/播放

[Previous Shortcut Group]
Exec=deepin-music-player -p
Name=Previous track
Name[ar]=المسار السابق
Name[cs]=Předchozí skladba
Name[da]=Forrige spor
Name[en]=Previous track
Name[es]=Pista anterior
Name[fr]=Piste précédente
Name[pt_BR]=Faixa anterior
Name[ru]=Предыдущий трек
Name[sk]=Predchádzajúca stopa
Name[sl]=Prejšnja skladba
Name[zh_CN]=上一首
Name[zh_TW]=上一首
