[Desktop Entry]
Type=Application
Name=Migu Music
Name[zh_CN]="咪咕音乐"
Name[zh_HK]="咪咕音樂"
Name[zh_TW]="咪咕音樂"
Comment=Digital Music Player
Comment[zh_CN]="数字音乐播放器"
Comment[zh_HK]="數位音樂播放器"
Comment[zh_TW]="數位音樂播放器"
Icon=/opt/MiguMusic/Resource/ICONmacmusic.png
Exec=MiguMusic
Terminal=false
Categories=Audio;Network;Player;AudioVideo;
