[Desktop Entry]
Type=Application
Name=Typora
GenericName=Markdown editor
Comment=Markdown editor
Categories=Office;Utility;TextEditor;
Exec=Typora %u
TryExec=Typora
Icon=typora
StartupWMClass=Typora
MimeType=text/md;text/markdown;application/md;
StartupNotify=true
