[Desktop Entry]
Version=1.0
Name=Thorium Shell
GenericName=Blink Core
Comment=Run Thorium Tests in content_shell
Exec=/usr/bin/thorium-shell %U
Terminal=false
X-MultipleArgs=True
Keywords=shell
Type=Application
Icon=thorium-shell
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;application/x-mimearchive;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=thorium_shell
StartupNotify=true
