[Desktop Entry]
Hidden=false
Exec=deepin-screenshot
Name=deepin-screenshot
Name[zh_CN]=深度截屏工具
Type=Application
NoDisplay=false
StartupNotify=false
Icon=/usr/share/deepin-screenshot/theme/logo/deepin-screenshot.png
Terminal=false
Categories=GTK;GNOME;Utility;
