[Desktop Entry]
Type=Application
Name=FeelUOwn
Comment=FeelUOwn Launcher
Exec=feeluown
Icon=/usr/share/pixmaps/feeluown.png
Categories=AudioVideo;Audio;Player;Qt;
Terminal=false
StartupNotify=true
