[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Foxit Reader
Name[zh_CN]=福昕阅读器
Name[zh_HK]=福昕閱讀器
Name[zh_TW]=福昕閱讀器
GenericName=PDF Reader
GenericName[zh_CN]=PDF阅读器
GenericName[zh_HK]=PDF閱讀器
GenericName[zh_TW]=PDF閱讀器
Comment=Read PDF Document
Comment[zh_CN]=阅读PDF文档
Comment[zh_HK]=閱讀PDF文件
Comment[zh_TW]=閱讀PDF文件
Exec=foxitreader %U
Icon=foxitreader
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Office;Viewer;
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;
