[Desktop Entry]
Name=MongoDB Compass
Comment=The MongoDB GUI
GenericName=MongoDB Compass
Exec=mongodb-compass --ignore-additional-command-line-flags --ozone-platform-hint=auto --enable-wayland-ime %U
Icon=mongodb-compass
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
MimeType=x-scheme-handler/mongodb;x-scheme-handler/mongodb+srv;

