[Desktop Entry]
Comment=
Comment[en_US]=
Encoding=UTF-8
Exec=/usr/bin/designer
GenericName=Qt Designer
GenericName[en_US]=Qt Designer
Icon=designer
MimeType=
Name=Qt Designer
Name[en_US]=Qt Designer
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Qt;Development;GUIDesigner;
