[Unit]
Description=Shadowsocks-libev Server Service
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/ss-server -c /etc/shadowsocks.json

[Install]
WantedBy=multi-user.target
