[Desktop Entry]
Type=Application
Categories=System;Network;
Exec=/usr/bin/goagent-gtk %f
Icon=goagent-logo
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=GoAgent GTK
Comment=GoAgent GTK Launcher
