[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=TeXworks
Name[zh_CN]=TeXworks
Name[zh_HK]=TeXworks
Name[zh_TW]=TeXworks
GenericName=TeX Editor
GenericName[zh_CN]=TeX编辑器
GenericName[zh_HK]=TeX編輯器
GenericName[zh_TW]=TeX編輯器
Comment=Edit TeX documents
Comment[zh_CN]=编辑TeX文档
Comment[zh_HK]=編輯TeX文檔
Comment[zh_TW]=編輯TeX文檔
Exec=texworks
Icon=texworks
Terminal=false
Type=Application
MimeType=text/x-tex;
Categories=Development;TextEditor;
