[Desktop Entry]
Type=Application
Version=1.1
Name=osu!lazer
Icon=osu-lazer
MimeType=application/x-osu-lazer-beatmap;application/x-osu-lazer-skin;application/zip;application/x-rar;x-scheme-handler/osu
Comment=Rhythm is just a *click* away!
Exec=/usr/bin/osu-lazer %U
Terminal=false
Categories=Game;
X-Desktop-File-Install-Version=0.24
StartupWMClass=osu!
StartupNotify=true
