[Unit]
Description=A Secure Socket Tunneling Protocol (SSTP) server.
After=network.target

[Service]
Environment=PYTHONOPTIMIZE=1
ExecStart=/usr/bin/sstpd -f /etc/sstp-server.ini -s %i

PrivateTmp=true
DevicePolicy=closed
DeviceAllow=char-ppp rw
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=network.target