[Desktop Entry]
Name=Void Editor
Comment=AI Code Editor
GenericName=Text Editor
Exec=void %F
Icon=code
Type=Application
StartupNotify=false
StartupWMClass=void
Categories=TextEditor;Development;IDE;
MimeType=application/x-void-workspace;
Actions=new-empty-window;
Keywords=void;

[Desktop Action new-empty-window]
Name=New Empty Window
Name[de]=Neues leeres Fenster
Name[es]=Nueva ventana vacía
Name[fr]=Nouvelle fenêtre vide
Name[it]=Nuova finestra vuota
Name[ja]=新しい空のウィンドウ
Name[ko]=새 빈 창
Name[ru]=Новое пустое окно
Name[zh_CN]=新建空窗口
Name[zh_TW]=開新空視窗
Exec=void --new-window %F
Icon=code
