[Unit]
Description=Lantern
After=network.target

[Service]
ExecStart=/usr/lib/lantern/lantern-binary -headless=true

[Install]
WantedBy=default.target
