[Desktop Entry]
Encoding=UTF-8
Exec=realplay %u
Icon=realplayer8.xpm
GenericName=Video Player
Name=RealPlayer
Type=Application
Terminal=0
MimeType=application/vnd.rn-realmedia;application/smil;audio/vnd.rn-realaudio;audio/x-pn-realaudio;image/vnd.rn-realflash;mage/vnd.rn-realpix;text/vnd.rn-realtext;video/vnd.rn-realvideo
Categories=Application;AudioVideo;
