[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=linux1g1g
Name[zh_CN]=亦歌Linux客户端
Name[zh_HK]=亦歌Linux用戶端
Name[zh_TW]=亦歌Linux用戶端
Comment=A desktop application for listening to 1g1g.com
Comment[zh_CN]=一个用于收听1g1g.com的桌面应用程序
Comment[zh_HK]=一個用于收聽1g1g.com的桌面應用程式
Comment[zh_TW]=一個用于收聽1g1g.com的桌面應用程式
Exec=linux1g1g
Icon=linux1g1g
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;AudioVideo;Player;
