[Desktop Entry]
Name=Apifox
Exec=/opt/apifox/bin/Apifox.AppImage --ignore-additional-command-line-flags --ozone-platform-hint=auto --enable-wayland-ime %U
Comment=API 文档、API 调试、API Mock、API 自动化测试
Comment[zh_CN]=API 文档、API 调试、API Mock、API 自动化测试
Terminal=false
Icon=apifox
Type=Application
StartupNotify=true
StartupWMClass=Apifox
Categories=Network;Development;Utility;
