[Desktop Entry]
Categories=Development;Electronics;
Comment=免费、强大、易用的在线电路设计软件
Exec=/opt/lceda/lceda %f
Keywords=PCB;LCEDA;立创EDA;LC;EDA
GenericName=立创EDA
Icon=/opt/lceda/icon/128x128/lceda.png
Name=立创EDA
Type=Application
Name[en_US]=立创EDA
