[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=QQ for Linux
Name[zh_CN]=QQ for Linux
Name[zh_HK]=QQ for Linux
Name[zh_TW]=QQ for Linux
GenericName=Internet Messenger
GenericName[zh_CN]=互联网通讯程序
GenericName[zh_HK]=網絡即時通
GenericName[zh_TW]=網路即時通
Comment=Send instant messages over QQ protocal
Comment[zh_CN]=通过QQ协议发送即时消息
Comment[zh_HK]=透過QQ通訊協定發送即時訊息
Comment[zh_TW]=透過QQ通訊協定發送即時訊息
Exec=qq
TryExec=qq
Icon=linuxqq
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
