#### aliyundrive-webdav env file

## HOST: Listen host [default: 0.0.0.0]
#HOST=0.0.0.0

## PORT: Listen port [default: 8080]
#PORT=8080

## CLIENT_ID:   Aliyun drive client_id
#CLIENT_ID=

## CLIENT_SECRET: Aliyun drive client_secret
#CLIENT_SECRET=

## REFRESH_TOKEN: Aliyun drive refresh token
#REFRESH_TOKEN=

## WEBDAV_AUTH_USER: WebDAV authentication username
#WEBDAV_AUTH_USER=

## WEBDAV_AUTH_PASSWORD: WebDAV authentication password
#WEBDAV_AUTH_PASSWORD=

## TLS_CERT: TLS certificate file path
#TLS_CERT=

## TLS_KEY: TLS private key file path
#TLS_KEY=

## WEBDAV_STRIP_PREFIX: Prefix to be stripped off when handling request
#WEBDAV_STRIP_PREFIX=

## ALIYUNDRIVE_WEBDAV_FLAGS: Allow users to override command-line options
#ALIYUNDRIVE_WEBDAV_FLAGS=
