[Desktop Entry]
Name=conty-nautilus
Exec=env ADW_DEBUG_COLOR_SCHEME=prefer-dark conty --ro-bind /usr/share/themes /usr/share/themes nautilus
Type=Application
Terminal=false
