[Desktop Entry]
Version=1.0
Encoding=UTF-8
Exec=multiget
Terminal=false
Type=Application
Icon=multiget
Categories=Application;Network;
Name=MultiGet
Comment=MultiGet Downloader
Comment[zh_CN]=MultiGet下载工具
Comment[zh_TW]=MultiGet下載工具
