[Desktop Entry]
Type=Application
Name=Clash For Windows
Comment=Clash GUI
Exec=/opt/clash-for-windows-bin/cfw
Icon=clash-for-windows-bin
Terminal=false
Keywords=clash
Categories=Network;Utility;
