name: emerge

on:
  pull_request_target:
    branches:
      - master
    paths-ignore:
      - '.github/**'
      - 'metadata/**'
      - 'profiles/**'
    types: [opened, reopened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  scan:
    name: scan changed ebuilds
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.packages.outputs.packages }}

    steps:
    - uses: actions/checkout@v6

    - name: list files
      run: |
        ls -la

    - name: get ebuilds
      env:
        GH_TOKEN: ${{ github.token }}
      id: packages
      run: |
        declare -a packages=()
        # new or modifie
        for file in $(gh pr view ${{ github.event.pull_request.number }} --json files --jq '.files[] | select(.additions > 0) | .path'); do
            if [[ "$file" == *.ebuild ]]; then
                echo new or modifie $file
                packages+=(\=$(echo "$file" | awk -F'/' '{ sub(/\.ebuild$/, "", $3); print $1"/"$3 }'))
            else
                echo new or modifie $(echo "$file" | awk -F'/' '{print $1"/"$2}')
                packages+=($(echo "$file" | awk -F'/' '{print $1"/"$2}'))
            fi
        done
        echo "scan additions files: $(printf '%s\n' "${packages[@]}" | sort -u | jq -R . | jq -s .)"

        # treeclean, delete and modifie
        for file in $(gh pr view ${{ github.event.pull_request.number }} --json files --jq '.files[] | select(.deletions > 0) | .path'); do
            if [ ! -d "$(echo "$file" | awk -F'/' '{print $1"/"$2}')" ]; then
                echo "treeclean $(echo "$file" | awk -F'/' '{print $1"/"$2}')"
                continue
            elif [[ "$file" == *.ebuild ]]; then
                if [ -f "$file" ]; then
                    echo "modified $file"
                    packages+=(\=$(echo "$file" | awk -F'/' '{ sub(/\.ebuild$/, "", $3); print $1"/"$3 }'))
                else
                    echo "deleted $file"
                fi
            else
                echo "modified $file"
                packages+=($(echo "$file" | awk -F'/' '{print $1"/"$2}'))
            fi
        done

        echo "scan deletions files: $(printf '%s\n' "${packages[@]}" | sort -u | jq -R . | jq -s .)"

        json_output=$(printf '%s\n' "${packages[@]}" | sort -u | jq -R . | jq -s . | tr -d '\n')
        echo "packages=${json_output}" >> "$GITHUB_OUTPUT"

  build:
    name: emerge
    needs: scan
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJSON(needs.scan.outputs.packages) }}
    runs-on: ubuntu-latest
    container:
      image: gentoo/stage3:amd64-desktop-systemd
      options: --privileged

    steps:
    - name: Define Color
      env:
        package: ${{ matrix.package }}
      run: |
        echo "$package"

    - name: sync gentoo main tree
      run: |
        emerge-webrsync

    - name: cat binrepos
      run: |
        cat /etc/portage/binrepos.conf/gentoobinhost.conf

    - name: setup features
      run: |
        echo 'FEATURES="getbinpkg"' >> /etc/portage/make.conf
        getuto

    - name: install depends
      run: |
        emerge --verbose --quiet --jobs $(nproc) --autounmask y --autounmask-continue y \
        app-eselect/eselect-repository \
        app-misc/jq \
        dev-vcs/git

    - name: setup gentoo git repo
      run: |
        eselect repository add gentoo git https://github.com/gentoo-mirror/gentoo.git
        rm -rf /var/db/repos/gentoo
        emaint sync -r gentoo

    - name: fetch
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        repository: ${{ github.event.pull_request.head.repo.full_name }}
        ref: ${{ github.event.pull_request.head.sha }}
        path: gentoo-zh

    - name: setup gentoo-zh repo
      run: |
        eselect repository add gentoo-zh git `realpath ./gentoo-zh`
        emaint sync -r gentoo-zh

    - name: setup elogs
      run: |
        echo 'PORTAGE_ELOG_CLASSES="qa warn error"' >> /etc/portage/make.conf
        echo 'PORTAGE_ELOG_SYSTEM="save"' >> /etc/portage/make.conf

    - name: cat /etc/portage/make.conf
      run: |
        cat /etc/portage/make.conf

    - name: emerge --onlydeps packages
      run: |
        emerge --quiet --autounmask=y --autounmask-write=y --autounmask-continue=y --onlydeps ${{ matrix.package }}
        rm -rf /var/log/portage/elog/

    - name: emerge packages
      run: |
        emerge --quiet --autounmask=y --autounmask-write=y --autounmask-continue=y ${{ matrix.package }}

    - name: check Portage elog (fail if exists)
      run: |
        if ls /var/log/portage/elog/* 1> /dev/null 2>&1; then
          echo "❌ Found Portage elog messages:"
          cat /var/log/portage/elog/*
          exit 1
        else
          echo "✅ No elog messages found."
        fi
