name: emerge

on:
  pull_request_target:
    branches:
      - master
    paths-ignore:
      - '.github/**'
      - 'metadata/**'
    types: [opened, reopened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  build:
    name: emerge changed ebuilds
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/liangyongxiang/gentoo-testing:master
      options: --privileged

    steps:
    - name: list repos
      run: |
        ls /var/db/repos/

    - name: fetch
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
        repository: ${{ github.event.pull_request.head.repo.full_name }}
        ref: ${{ github.event.pull_request.head.sha }}
        path: gentoo-zh

    - name: setup gentoo-zh repo
      run: |
        eselect repository add gentoo-zh git `realpath ./gentoo-zh`
        emaint sync -r gentoo-zh

    - name: echo pkgs
      id: pkgs
      run: |
        cd /var/db/repos/gentoo-zh
        # Get list of changed files between base and head
        diff_files=$(git diff --raw --name-only ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }})
        cates=$(cat /var/db/repos/gentoo{,-zh}/profiles/categories | sort -du)
        declare -a check_pkgs
        for file in ${diff_files}; do
          c=${file%%/*}
          for cate in ${cates}; do
            if [[ ${c} == ${cate} ]]; then
              n=${file#*/}
              n=${n%%/*}
              check_pkgs+=( ${c}/${n} )
            fi
          done
        done
        check_pkgs=( $(echo "${check_pkgs[@]}" | tr ' ' '\n' | sort -du | tr '\n' ' ') )
        ret=0
        echo "pkgs: ${check_pkgs[@]}"
        echo "pkgs=${check_pkgs[@]}" >> $GITHUB_OUTPUT

    - name: cat binrepos
      run: |
        cat /etc/portage/binrepos.conf/gentoobinhost.conf

    - name: setup features
      run: |
        echo 'FEATURES="getbinpkg"' >> /etc/portage/make.conf

    - name: setup elogs
      run: |
        echo 'PORTAGE_ELOG_CLASSES="qa warn error"' >> /etc/portage/make.conf
        echo 'PORTAGE_ELOG_SYSTEM="save"' >> /etc/portage/make.conf

    - name: cat /etc/portage/make.conf
      run: |
        cat /etc/portage/make.conf

    - name: emerge --onlydeps packages
      run: |
        emerge --autounmask=y --autounmask-write=y --autounmask-continue=y --onlydeps ${{ steps.pkgs.outputs.pkgs }}
        rm -rf /var/log/portage/elog/

    - name: emerge packages
      run: |
        emerge --autounmask=y --autounmask-write=y --autounmask-continue=y ${{ steps.pkgs.outputs.pkgs }}

    - name: check Portage elog (fail if exists)
      run: |
        if ls /var/log/portage/elog/* 1> /dev/null 2>&1; then
          echo "❌ Found Portage elog messages:"
          cat /var/log/portage/elog/*
          exit 1
        else
          echo "✅ No elog messages found."
        fi
