name: CI

on:
  pull_request:


jobs:
  scan_ebuilds:
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.packages.outputs.packages }}

    steps:
      - uses: actions/checkout@v6

      - name: echo environment variables
        run: |
          printenv

      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Dump change files
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh pr view ${{ github.event.pull_request.number }} --json files --jq '.files[] | select(.additions > 0) | .path'

      - name: get ebuilds
        env:
          GH_TOKEN: ${{ github.token }}
        id: packages
        run: |
          declare -a packages=()
          # new or modifie
          for file in $(gh pr view 1 --json files --jq '.files[] | select(.additions > 0) | .path'); do
              if [[ "$file" == *.ebuild ]]; then
                  echo new or modifie $file
                  packages+=(\=$(echo "$file" | awk -F'/' '{ sub(/\.ebuild$/, "", $3); print $1"/"$3 }'))
              else
                  echo new or modifie $(echo "$file" | awk -F'/' '{print $1"/"$2}')
                  packages+=($(echo "$file" | awk -F'/' '{print $1"/"$2}'))
              fi
          done
          echo "scan additions files: $(printf '%s\n' "${packages[@]}" | sort -u | jq -R . | jq -s .)"

          # treeclean, delete and modifie
          for file in $(gh pr view 1 --json files --jq '.files[] | select(.deletions > 0) | .path'); do
              if [ ! -d "$(echo "$file" | awk -F'/' '{print $1"/"$2}')" ]; then
                  echo "treeclean $(echo "$file" | awk -F'/' '{print $1"/"$2}')"
                  continue
              elif [[ "$file" == *.ebuild ]]; then
                  if [ -f "$file" ]; then
                      echo "modified $file"
                      packages+=(\=$(echo "$file" | awk -F'/' '{ sub(/\.ebuild$/, "", $3); print $1"/"$3 }'))
                  else
                      echo "deleted $file"
                  fi
              else
                  echo "modified $file"
                  packages+=($(echo "$file" | awk -F'/' '{print $1"/"$2}'))
              fi
          done

          echo "scan deletions files: $(printf '%s\n' "${packages[@]}" | sort -u | jq -R . | jq -s .)"

          json_output=$(printf '%s\n' "${packages[@]}" | sort -u | jq -R . | jq -s . | tr -d '\n')
          echo "packages=${json_output}" >> "$GITHUB_OUTPUT"


  emerge:
    runs-on: ubuntu-latest
    needs: scan_ebuilds
    strategy:
      matrix:
        package: ${{ fromJSON(needs.scan_ebuilds.outputs.packages) }}

    steps:
      - name: Define Color
        env:
          package: ${{ matrix.package }}
        run: |
          echo "$package"