[Unit]
Description=alist
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=alist
WorkingDirectory=/var/lib/alist
ExecStart=/usr/bin/alist server --data /var/lib/alist
Restart=on-failure

[Install]
WantedBy=multi-user.target
